<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facultativ</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css?version=1">
</head>
<body>
    <nav>
        <h1>
            <a href="/">main page</a>
        </h1>
    </nav>