.container {
  max-width: 1120px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

li {
  list-style-type: none;
}

.change__name {
  width: 60px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 16px;
  transition: 0.3s all;
  cursor: pointer;
}

.change__name:hover {
  background-color: rgb(219, 219, 219);
}
