<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node.js MongoDB App</title>
  </head>
  <body>
    <h1>Node.js MongoDB App</h1>
    <ul>
      <li><a href="/predmets">Предмети</a></li>
      <li><a href="/students">Студенти</a></li>
      <li><a href="/syllabus">Навчальні плани</a></li>
    </ul>
  </body>
</html>
