*.pdf
*.rar
Course_work/prezent.txt
Course_work/Звіт_курсового_проекту_Максимович_v3.docx
Course_work/Презентація курсового проекту Максимович.pptx
JS_REACT/Lec/Лекція 1_JavaScript.docx
JS_REACT/Lec/Лекція 2_JavaScript.docx
JS_REACT/Lec/Лекція 3_JavaScript.docx
JS_REACT/Lec/Лекція 4_JavaScript.docx
JS_REACT/Lec/Лекція 5_JavaScript.docx
JS_REACT/Lec/Лекція 6_JavaScript.docx
JS_REACT/Lec/Лекція 7_JavaScript.docx
JS_REACT/Lec/Лекція 8_JavaScript.docx
JS_REACT/Lec/Лекція 9_JavaScript.docx
JS_REACT/Lec/Лекція 10_JavaScript.docx
JS_REACT/Lec/Лекція 11_JavaScript.docx
JS_REACT/Lec/Лекція 12_JavaScript.docx
JS_REACT/Lec/Лекція 13_JavaScript.docx
JS_REACT/Lec/Лекція 14_JavaScript.docx
JS_REACT/Lec/Лекція 17 (1).docx
JS_REACT/Lec/Лекція 18.docx
JS_REACT/Lec/Лекція 19 (1).docx
JS_REACT/Lec/Лекція 20 (1).docx
JS_REACT/Lec/Лекція 21.docx
JS_REACT/Lec/Лекція 22.docx
JS_REACT/Lec/Лекція 23.docx
JS_REACT/Lec/Лекція 24.docx
JS_REACT/Lec/Лекція 25.docx
JS_REACT/Lec/Лекція 26.docx
JS_REACT/Lec/Лекція 27.docx
JS_REACT/Lec/Лекція 28.docx
JS_REACT/Lec/Лекція 29.docx
JS_REACT/Lec/React_JS__Основы_основ.ppt
Summer_practic/Звіт_Практика.docx
Summer_practic/Щоденник практики.doc
Summer_practic/u1/u1.pkt
Summer_practic/u1/scrin/conf_vlan1.png
Summer_practic/u1/scrin/conf_vlan2.png
Summer_practic/u1/scrin/conf_vlan3_ping.png
Summer_practic/u2/config connection php.png
Summer_practic/u2/config mysql in centos.png
Summer_practic/u2/connect to mysql with ssl cert.png
Summer_practic/u2/logged.png
Summer_practic/u3/1.sh
Summer_practic/u3/Apache_2.4-PHP_5.5-5.6_queriesa.log
Summer_practic/u3/README
Summer_practic/u3/Myksymovych/Maksymovych.txt
Summer_practic/u3/Myksymovych/Mykola.txt
Summer_practic/u3/Myksymovych/VARK/GR1/Mykola.txt
Summer_practic/u3/Myksymovych/VARK/GR2/Maksymovych.txt
Summer_practic/u5/Docker file from my microservices.png
Summer_practic/u5/docker-compose.override.yml
Summer_practic/u5/docker-compose.yml
Summer_practic/u5/other Docker container that I use at work with my microservices.png
Summer_practic/u5/README.txt
Summer_practic/u5/Vagrant.png
Summer_practic/u6/rezult.png
Summer_practic/u6/time_calculator.sh
Summer_practic/u6/example-app-nodejs-backend-react-frontend-master/.gitignore
Summer_practic/u6/example-app-nodejs-backend-react-frontend-master/package-lock.json
Summer_practic/u6/example-app-nodejs-backend-react-frontend-master/package.json
Summer_practic/u6/example-app-nodejs-backend-react-frontend-master/README.md
Summer_practic/u6/example-app-nodejs-backend-react-frontend-master/webpack.config.js
Summer_practic/u6/example-app-nodejs-backend-react-frontend-master/src/client/index.js
Summer_practic/u6/example-app-nodejs-backend-react-frontend-master/src/client/components/ExampleComponent.js
Summer_practic/u6/example-app-nodejs-backend-react-frontend-master/src/server/app.js
