*.pdf
*.rar
*.zip
**/JS_REACT/*.docx
**/JS_REACT/Lec/
**/Summer_practic/
**/.vs
**/.vscode
**/.idea
Lab_4k_1sem/Course_work/Звіт_курсового_проекту_Максимович_v3.docx
Lab_4k_1sem/Course_work/prezent.txt
Lab_4k_1sem/Course_work/Презентація курсового проекту Максимович.pptx
Lab_4k_2sem/Geo Information Systems/lab2/resource
Lab_4k_2sem/Geo Information Systems/lab2/__pycache__/
Lab_5k_1sem/Mashine_learning/lb3/saved_vectors.kv
Lab_5k_1sem/Mashine_learning/lb3/saved_vectors.kv.vectors.npy
Lab_5k_1sem/Mashine_learning/lb3/*.csv
Lab_5k_1sem/Ушенко/*.png
__pycache__
Lab_5k_1sem/Software reliability/grec
Lab_5k_2sem/BigData/lb2/reestr_edpod.csv
!donald_data.json.zip
