<%- include ("../partials/header")%>

<h1>Create a New Student record</h1>

<form method="POST" action="/students">
  <div>
    <label for="name">Ім'я</label>
    <input type="text" id="name" name="name" required>
    <label for="surname">Прізвище</label>
    <input type="text" id="surname" name="surname" required>
    <label for="lastname">Побатькові</label>
    <input type="text" id="lastname" name="lastname" required>
    <label for="address">Адреса</label>
    <input type="text" id="address" name="address" required>
    <label for="phone">Телефон</label>
    <input type="text" id="phone" name="phone" required>
  </div>
  <button type="submit">Create</button>
</form>

<%- include ("../partials/footer") %>