<%- include ("../partials/header")%>

<h1>Create a New Predmet</h1>

<form method="POST" action="/predmets">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="lect">lecturesize</label>
    <input type="number" id="lect" name="lect" required>
    <label for="prac">practicesize</label>
    <input type="number" id="prac" name="prac" required>
    <label for="lab">labsize</label>
    <input type="number" id="lab" name="lab" required>
  </div>
  <button type="submit">Create</button>
</form>

<%- include ("../partials/footer") %>