{% extends 'base.html' %} {% block head %}
<!-- Посилання на бібліотеку Leaflet -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link
  rel="stylesheet"
  type="text/css"
  href="https://unpkg.com/leaflet/dist/leaflet.css"
  crossorigin=""
/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>
<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }
  #map {
    height: 97.5%;
    width: 100%;
  }
</style>
{% endblock %} {% block content %}
<div id="header">
  <form action="/searchByRadius/" method="get">
    <button><a href="/">На головну</a></button>
    <input type="text" id="pointInfo" name="pointInfo" required>
    <input type="number" id="radius" name="radius" placeholder="Радіус в метрах" required>
    <button type="submit">Пошук в радіусі</button>
  </form>
</div>
<div id="map"></div>
<script>
  // Ініціалізуємо карту
  var map = L.map("map").setView([48.297560, 25.937318], 13);

  // Додаємо плитку OpenStreetMap
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
    maxZoom: 18,
  }).addTo(map);

  // Завантажуємо точки геометрії з сервера та додаємо їх на карту  
  '{% for item in items %}'
  L.marker(['{{ item.geometry.y }}', '{{ item.geometry.x}}'])
    .addTo(map)
    .bindPopup(String('{{item}}'))
    .on('click', function(e) {
    var lat = e.latlng.lat;
    var lng = e.latlng.lng;
    console.log("Клікнуто на точку з координатами (" + lat + ", " + lng + ")");
    var myInput = document.getElementById("pointInfo");
    model_type = '{{model_type}}';
    myInput.value = [lat,lng,model_type].join(", ");
  }); 
  '{% endfor %}'

  map.on('click', function(e) {
    var lat = e.latlng.lat;
    var lng = e.latlng.lng;
    console.log("Клікнуто на мапу з координатами (" + lat + ", " + lng + ")");
    var myInput = document.getElementById("pointInfo");
    model_type = '{{model_type}}';
    myInput.value = [lat,lng,model_type].join(", ");
  });

</script>
{% endblock %}
